@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Righteous&display=swap');
@import url("https://rsms.me/inter/inter.css");
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

body {
    background: #271a2e
}

header1 {
    alignment: left;
    /*padding-left: 2em;*/
    font-family: "Press Start 2P";
    font-size: 25px;
    color: white;
    opacity: 100%;
    /*text-shadow: 0em 0em 0.3em #b443d0;*/
    text-shadow: 0 0 7px #fff,
    0 0 10px #6d2f79,
    0 0 21px #6d2f79,
    0 0 42px #a120a8,
    0 0 82px #a120a8;
    /*0 0 92px #a120a8,*/
    /*0 0 102px #a120a8,*/
    /*0 0 151px #a120a8;*/
}

div {
    margin-top: 1em
}

subheader1 {
    alignment: left;
    font-family: "Press Start 2P";
    font-size: 14px;
    alignment: left;
    /*padding-left: 3em;*/
    font-weight: 450;
    text-align: left;
    color: #ecc673;
}

.wrapper {
    width: 1000px;
    /*padding-left: 2em;*/
    overflow: hidden; /* will contain if #first is longer than #second */
    text-align: left;
}

.first {
    width: 270px;
    float: left; /* add this */
    text-align: center;
}

.second {
    float: left; /* add this */
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

.fw {
    width: 1000px;
    /*padding-left: 2em;*/
    overflow: hidden; /* will contain if #first is longer than #second */
    text-align: left;
}

.ff {
    align-content: center;
    /*margin-top: 5em;*/
    padding-top: 1em;
    /*width: 150px;*/
    float: left; /* add this */
    text-align: center;
}

.fs {
    padding-left: 4em;
    /*width: 800px;*/
    /*float: left; !* add this *!*/
    overflow: hidden; /* if you d   on't want #second to wrap below #first */
}

.ar {
    font-size: 100px;
    float: left;
    color: #d09510;
    padding-left: 0.7em;
    margin-top: 0.14em;
    /*opacity: 15%;*/
    /*text-shadow: 0 0 7px #fff,*/
    /*0 0 10px #6d2f79,*/
    /*0 0 21px #6d2f79;*/
    /*0 0 42px #a120a8,*/
    /*0 0 82px #a120a8;*/
}